In [1]:
from tabulate import tabulate

In [2]:
#import Table 1 data
MemberID = ['100001','100001','100001','100002','100002','100003','100003','100003','100003']
YearMo = ['201801', '201802', '201803', '201801', '201802', '201807', '201808', '201809', '201810']

## a. Write code to output a new table from Table 1 that includes all observations for members with a member month in January 2018. Hint: YearMo is a character variable.

In [8]:
JanMember = [] # Create a list for question a

for x in range(0,len(MemberID)):
  if YearMo[x] == '201801':
    JanMember.append(MemberID[x])

In [9]:
#print table
table=[['JanMember','JanMember'],JanMember]
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒═════════════╤═════════════╕
│   JanMember │   JanMember │
╞═════════════╪═════════════╡
│      100001 │      100002 │
╘═════════════╧═════════════╛

## b. Write code to output a new table from Table 1 that has one row per member and the count of each member’s member months. Include the resulting output table based on the sample shown above.

In [5]:
EachMember = list(set(MemberID)) # remove repeated data
MemberMonths=[]

In [6]:
for i in EachMember: 
  MemberMonths.append(MemberID.count(i)) #Count repeated numbers

In [7]:
MemberMonths

[3, 4, 2]

In [ ]:
#print table
table=[EachMember,MemberMonths]
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒══════════╤══════════╤══════════╕
│   100001 │   100002 │   100003 │
╞══════════╪══════════╪══════════╡
│        3 │        2 │        4 │
╘══════════╧══════════╧══════════╛

##c. Write code to output a new table from Table 1 that has one row for each month in 2018 and counts the number of members who are active in that month. Include the resulting output table based on the sample shown above.

In [12]:
EachMonths = ['201801','201802','201803','201804','201805','201806','201807','201808','201809','201810','201811','201812']
CountMembers = []
for i in EachMonths:
  CountMembers.append(YearMo.count(i))
CountMembers

[2, 2, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0]

In [13]:
#print table
table=[EachMonths,CountMembers]
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╤══════════╕
│   201801 │   201802 │   201803 │   201804 │   201805 │   201806 │   201807 │   201808 │   201809 │   201810 │   201811 │   201812 │
╞══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╡
│        2 │        2 │        1 │        0 │        0 │        0 │        1 │        1 │        1 │        1 │        0 │        0 │
╘══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╧══════════╛